{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="contenido" class="container">
        <div class="row">
            <div class="d-none d-lg-block col-lg-2 p-3" style="position: relative;">
                <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: {{ proyecto.color }}; opacity: 0.2; z-index: -1; pointer-events: none;"></div>
                {% for s in secciones %}
                    <p><a class="menuSecciones text-decoration-none text-dark" href="{{ s.link }}/{{ s.id }}">{{ s.titulo }}</a></p>
                {% endfor %}
            </div>
            <div class="col-md-6 col-lg-6">
                <h5 style="background-color: {{ proyecto.color }};"><a class="text-white text-decoration-none" href="{{ proyecto.link }}/{{ proyecto.id }}">{{ proyecto.nombre }}</a></h5>
                <h3 style="color: {{ proyecto.color }};" class="pb-2">{{ proyecto.titulo }}</h3>
                {{ proyecto.descripcion|safe }}
            </div>
            <div class="col-md-6 col-lg-4" id="imagen"
                 style="background-image: url('{% static proyecto.imagen %}');
                         background-position: center;
                         height: 300px;
                         background-size: contain;
                         background-repeat: no-repeat">
            </div>
        </div>
        <div class="row">
            <div class="d-block d-lg-none col-12 pt-3 text-secondary">
                <ul class="lista-flechas">
                {% for s in secciones %}
                    <li><a style="color: {{ proyecto.color }};" class="menuSecciones text-decoration-none" href="{{ s.link }}/{{ s.id }}">{{ s.titulo }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}