{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="contenido" class="container">
        <h2 class="pb-3">Artículo</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group pb-3">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary mt-3">Enviar</button>
            <a class="btn btn-primary mt-3" onclick="history.back()">Cancelar</a>
        </form>
    </div>
{% endblock %}