{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="contenido" class="container">
        <div id="titulo" class="row pb-3">
            <h2 class="col-9 col-md-6">Listado de Secciones</h2>
            <form method="GET" class="d-none d-md-table-cell col-md-4">
                <div class="input-group">
                    <select class="form-select" id="sel1" name="q" value="{{ query }}">
                        <option value="">Todas las secciones...</option>
                        {% for p in proyectos %}
                            <option value="{{ p.id }}" {% if p.id|stringformat:"s" == query %}selected{% endif %}>
                                {{ p.nombre }}
                            </option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-primary text-light" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </button>
                </div>
            </form>
            <div class="col-3 col-md-2 text-end">
                <a class="btn btn-primary w-100" href="/seccionAgregar/">Nuevo...</a>
            </div>
        </div>

        <!--<div id="titulo" class="row pb-3">
            <h2 class="col-10">Listado de Secciones</h2>
            <div class="col-2 d-flex justify-content-end align-items-end mb-3">
                <a class="btn btn-primary" href="/seccionAgregar/">Nuevo...</a>
            </div>
        </div>-->

        <table class="table table-striped">
            {% for s in secciones %}
            <tr>
                <td>{{ s.id }}</td>
                <td>{{ s.titulo }}</td>
                <td class="d-none d-md-table-cell">{{ s.imagen }}</td>
                <td class="d-none d-sm-table-cell">{{ s.idProyecto }}</td>
                <td class="d-none d-md-table-cell">{{ s.link }}</td>
                <td>
                    <div class="d-flex justify-content-end align-items-end mb-3">
                        <a class="btn btn-primary" href="/seccionModificar/{{ s.id }}/">Modificar</a>
                        <a class="btn btn-danger ms-1" href="/seccionBorrar/{{ s.id }}/">Borrar</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}