{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="contenido" class="container">

        <h2 class="pb-3">Eliminar Sección</h2>
        <p>¿Estás seguro que deseas eliminar la sección "{{ seccion.titulo }}"?</p>
        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Sí, eliminar</button>
            <a class="btn btn-primary" href="{% url 'seccioneslista' %}">Cancelar</a>
        </form>

    </div>
{% endblock %}