{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="contenido" class="container">
        <div id="titulo" class="row pb-3">
            <h2 class="col-10">Listado de Secciones</h2>
            <div class="col-2 d-flex justify-content-end align-items-end mb-3">
                <a class="btn btn-primary" href="/seccionAgregar/">Nuevo...</a>
            </div>
        </div>
        <table class="table table-striped">
            {% for s in secciones %}
            <tr>
                <td>{{ s.id }}</td>
                <td>{{ s.titulo }}</td>
                <td class="d-none d-md-table-cell">{{ s.imagen }}</td>
                <td class="d-none d-sm-table-cell">{{ s.idProyecto }}</td>
                <td class="d-none d-md-table-cell">{{ s.link }}</td>
                <td>
                    <div class="d-flex justify-content-end align-items-end mb-3">
                        <a class="btn btn-primary" href="/seccionModificar/{{ s.id }}/">Modificar</a>
                        <a class="btn btn-danger ms-1" href="/seccionBorrar/{{ s.id }}/">Borrar</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}